{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
SECTION HEADER
----------------------------------------------------------------------------------------------------------------------

This component renders a section header, which is a pattern in many sections of the theme.

********************************************
Supported variables
********************************************

* subheading: the subheading (if any)
* heading: the heading to show
* heading_color: the color heading
* heading_gradient: the optional gradient to use for the heading
* content: an optional content to show
* text_alignment: can be "start", "center" or "end" (default to start, which is a left alignment on LTR environment)
* link_text: the text of the link
* link_url: the link URL
{%- endcomment -%}

{% if subheading != blank or heading != blank or content != blank or link_text != blank %}
  <section-header class="section-header {% if text_alignment != blank %}justify-{{ text_alignment | escape }} justify-items-{{ text_alignment | escape }} text-{{ text_alignment | escape }}{% endif %}">
    {%- if subheading != blank or heading != blank or content != blank -%}
      <div class="prose">
        {%- if subheading != blank -%}
          <p class="subheading">{{- subheading | escape -}}</p>
        {%- endif -%}

        {%- if heading != blank -%}
          <h2 class="h2" {% if settings.heading_apparition != 'none' %}reveal-on-scroll="true"{% endif %}>
            {%- render 'styled-text', content: heading, text_color: heading_color, gradient: heading_gradient, apparition_effect: true -%}
          </h2>
        {%- endif -%}

        {{- content -}}
      </div>
    {%- endif -%}

    {%- if link_text != blank -%}
      <div class="text-with-icon group">
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.9999 23.6668L19.3333 21.3335L16.6666 18.6668H23.6666V15.3335H16.6666L19.3333 12.6668L16.9999 10.3335L10.3333 17.0002L16.9999 23.6668ZM16.9999 33.6668C14.6944 33.6668 12.5277 33.2291 10.4999 32.3535C8.47214 31.4791 6.70825 30.2918 5.20825 28.7918C3.70825 27.2918 2.52103 25.5279 1.64659 23.5002C0.77103 21.4724 0.333252 19.3057 0.333252 17.0002C0.333252 14.6946 0.77103 12.5279 1.64659 10.5002C2.52103 8.47239 3.70825 6.7085 5.20825 5.2085C6.70825 3.7085 8.47214 2.52072 10.4999 1.64516C12.5277 0.770718 14.6944 0.333496 16.9999 0.333496C19.3055 0.333496 21.4721 0.770718 23.4999 1.64516C25.5277 2.52072 27.2916 3.7085 28.7916 5.2085C30.2916 6.7085 31.4788 8.47239 32.3533 10.5002C33.2288 12.5279 33.6666 14.6946 33.6666 17.0002C33.6666 19.3057 33.2288 21.4724 32.3533 23.5002C31.4788 25.5279 30.2916 27.2918 28.7916 28.7918C27.2916 30.2918 25.5277 31.4791 23.4999 32.3535C21.4721 33.2291 19.3055 33.6668 16.9999 33.6668Z" fill="#6E6E6E" fill-opacity="0.32"/>
        </svg>

        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.9999 23.6668L23.6666 17.0002L16.9999 10.3335L14.6666 12.6668L17.3333 15.3335H10.3333V18.6668H17.3333L14.6666 21.3335L16.9999 23.6668ZM16.9999 33.6668C14.6944 33.6668 12.5277 33.2291 10.4999 32.3535C8.47214 31.4791 6.70825 30.2918 5.20825 28.7918C3.70825 27.2918 2.52103 25.5279 1.64659 23.5002C0.77103 21.4724 0.333252 19.3057 0.333252 17.0002C0.333252 14.6946 0.77103 12.5279 1.64659 10.5002C2.52103 8.47239 3.70825 6.7085 5.20825 5.2085C6.70825 3.7085 8.47214 2.52072 10.4999 1.64516C12.5277 0.770718 14.6944 0.333496 16.9999 0.333496C19.3055 0.333496 21.4721 0.770718 23.4999 1.64516C25.5277 2.52072 27.2916 3.7085 28.7916 5.2085C30.2916 6.7085 31.4788 8.47239 32.3533 10.5002C33.2288 12.5279 33.6666 14.6946 33.6666 17.0002C33.6666 19.3057 33.2288 21.4724 32.3533 23.5002C31.4788 25.5279 30.2916 27.2918 28.7916 28.7918C27.2916 30.2918 25.5277 31.4791 23.4999 32.3535C21.4721 33.2291 19.3055 33.6668 16.9999 33.6668Z" fill="#6E6E6E" fill-opacity="0.32"/>
        </svg>

      </div>
    {%- endif -%}
  </section-header>
{%- endif -%}
