{%- assign newsletter_block = section.blocks | where: 'type', 'newsletter' | first -%}

{%- if section.blocks.size > 3 -%}
<style>
  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- if newsletter_block != blank -%}
        --footer-block-list-gap: var(--spacing-10);
      {%- endif -%}

      --footer-block-list-justify-content: space-between;
    }
  }
</style>
{%- endif -%}

<div class="footer">
  <div class="container">
    <div class="footer__wrapper">
      {%- comment -%}
      ------------------------------------------------------------------------------------------------------------------
      BLOCK AREA
      ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if section.blocks.size > 0 -%}
        <div class="footer__block-list empty:hidden">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank or block.settings.content != blank or shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                  <div class="footer__block footer__block--text" {{ block.shopify_attributes }}>
                    {%- if block.settings.title != blank -%}
                      <p class="bold">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                      <div class="follow-on-shop">
                        {{- shop | login_button: action: 'follow' -}}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}

              {%- when 'links' -%}
                {%- if block.settings.menu != blank -%}
                  <div class="footer__block footer__block--menu" {{ block.shopify_attributes }}>
                    {%- if block.settings.show_menu_title -%}
                      <p class="bold">{{ block.settings.menu_title | default: block.settings.menu.title }}</p>
                    {%- endif -%}

                    <ul class="v-stack gap-3" role="list">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="inline-block link-faded break-all">{{ link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

              {%- when 'newsletter' -%}
                <div class="footer__block footer__block--newsletter" {{ block.shopify_attributes }}>
                  {%- if block.settings.image != blank -%}
                    {%- capture sizes -%}{{ block.settings.image_width }}px{%- endcapture -%}
                    {%- capture widths -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 | at_most: block.settings.image.width }}{%- endcapture -%}
                    {%- capture style -%}max-width: {{ block.settings.image_width }}px{%- endcapture -%}
                    {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', style: style, sizes: sizes, widths: widths -}}
                  {%- endif -%}

                  <div class="v-stack gap-6">
                    {%- if block.settings.title != blank -%}
                      <p class="{{ block.settings.heading_size }}">{{- block.settings.title | escape -}}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    <!-- {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form form' -%}
                      {%- if form.posted_successfully? -%}
                        {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                        {%- render 'banner', content: success_message, status: 'success' -%}
                      {%- else -%}
                        {%- if form.errors -%}
                          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                          {%- render 'banner', content: error_message, status: 'error' -%}
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        {%- capture label -%}{{ 'general.newsletter.email' | t }}{%- endcapture -%}
                        {%- render 'input', name: 'contact[email]', label: label, type: 'email', required: true, autocomplete: 'email', enterkeyhint: 'send', self_submit: true -%}
                      {%- endif -%}
                    {%- endform -%} -->
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- comment -%}
      ------------------------------------------------------------------------------------------------------------------
      SECONDARY AREA
      ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="footer__aside empty:hidden">
        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        SOCIAL MEDIA + LOCALIZATION
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if section.settings.show_social_media -%}
          {%- capture social_media -%}{%- render 'social-media' -%}{%- endcapture -%}
        {%- endif -%}

        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if social_media != blank or country_selector or locale_selector -%}
          <div class="footer__aside-top">
            {{- social_media -}}

            {%- if country_selector or locale_selector -%}
              <div class="h-stack gap-6">
                {%- if social_media == blank -%}
                  {%- assign popover_horizontal_position = 'start' -%}
                {%- else -%}
                  {%- assign popover_horizontal_position = 'end' -%}
                {%- endif -%}

                {%- if country_selector -%}
                  {%- render 'localization-selector', type: 'country', show_country_name: section.settings.show_country_name, show_country_flag: section.settings.show_country_flag, popover_horizontal_position: popover_horizontal_position -%}
                {%- endif -%}

                {%- if locale_selector -%}
                  {%- render 'localization-selector', type: 'locale', popover_horizontal_position: popover_horizontal_position -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        COPYRIGHT + PAYMENT METHODS
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="footer__aside-bottom">
          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
            <ul class="footer__payment-icons h-stack wrap gap-2">
              {%- for type in shop.enabled_payment_types -%}
                <li class="contents">{{ type | payment_type_svg_tag }}</li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

          <div class="main-footer-nav-adv">
            <div class="main-payment-section-footer">
              <ul>
                <li>
                  <svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 4C0.5 2.067 2.067 0.5 4 0.5H30C31.933 0.5 33.5 2.067 33.5 4V18C33.5 19.933 31.933 21.5 30 21.5H4C2.067 21.5 0.5 19.933 0.5 18V4Z" fill="white" stroke="#EEEEEE"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5797 7H10.4251L9.56419 8.99471L8.64027 7H7.50646V9.77159L6.30963 7H5.25984L4 9.93963H4.75587L5.02879 9.28863H6.49853L6.77144 9.93963H8.19932V7.63L9.22811 9.93963H9.83695L10.8659 7.63V9.93963H11.5797V7ZM27.2437 9.93963H26.236L24.9132 7.73487V9.93963H23.4856L23.2124 9.28863H21.7427L21.4697 9.93963H20.6507C20.3148 9.93963 19.8738 9.85561 19.6221 9.60355C19.391 9.35164 19.265 9.01572 19.265 8.49074C19.265 8.04979 19.328 7.65085 19.6428 7.33593C19.8527 7.10487 20.2308 7 20.7136 7H21.3854V7.63H20.7136C20.4618 7.63 20.3146 7.67201 20.1677 7.79804C20.0417 7.92407 19.9787 8.15497 19.9787 8.46989C19.9787 8.78481 20.0417 9.01587 20.1677 9.1629C20.2726 9.26778 20.4618 9.30979 20.6505 9.30979H20.9656L21.9734 7.00015H23.0233L24.1992 9.77174V7H25.2911L26.53 9.03672V7H27.2437V9.93963ZM26.236 13.4462C26.068 13.2991 25.8159 13.2152 25.417 13.2152H25.0392C24.9358 13.2152 24.8526 13.1946 24.7699 13.1742L24.7663 13.1733C24.6821 13.1312 24.6194 13.0682 24.6194 12.9631C24.6194 12.8581 24.6403 12.7951 24.7243 12.7321C24.7873 12.6902 24.8712 12.6902 24.9972 12.6902H26.2991V12.0602H24.8923C24.1363 12.0602 23.8842 12.5222 23.8842 12.9423C23.8842 13.8069 24.6019 13.8254 25.2277 13.8416C25.2704 13.8427 25.3127 13.8438 25.3543 13.8452C25.48 13.8452 25.5642 13.866 25.606 13.9082C25.6479 13.9501 25.6902 14.0339 25.6902 14.1181C25.6902 14.202 25.6481 14.265 25.606 14.3071C25.543 14.349 25.4592 14.3699 25.3331 14.3699H23.9683V14.9998H25.3331C26.0468 14.9998 26.4459 14.7061 26.4459 14.0762C26.4459 13.7823 26.3621 13.5931 26.236 13.4462ZM29.1967 14.0762C29.1967 14.7062 28.7977 14.9998 28.0837 14.9998H26.7192V14.3699H28.0837C28.2097 14.3699 28.3148 14.349 28.3569 14.3071C28.3988 14.265 28.4408 14.202 28.4408 14.1181C28.4408 14.0339 28.3989 13.9501 28.3569 13.9082C28.3148 13.866 28.2309 13.8452 28.1049 13.8452C28.0632 13.8438 28.0208 13.8427 27.9781 13.8416C27.3526 13.8254 26.6351 13.8069 26.6351 12.9423C26.6351 12.5222 26.908 12.0602 27.6429 12.0602H29.0496V12.6902H27.7478C27.6221 12.6902 27.5379 12.6902 27.4749 12.7321C27.4119 12.7951 27.37 12.8581 27.37 12.9631C27.37 13.0682 27.433 13.1312 27.5169 13.1733L27.5187 13.1738C27.6023 13.1945 27.6858 13.2152 27.7901 13.2152H28.1679C28.5668 13.2152 28.8189 13.2991 28.9869 13.4462C29.1127 13.5931 29.1967 13.7823 29.1967 14.0762ZM21.8898 14.3912H23.5483V15H21.1968V12.0605H23.5483V12.6694H21.8898V13.2155H23.5065V13.8032H21.8898V14.3912ZM20.4408 12.2076C20.2097 12.0815 19.9368 12.0604 19.5799 12.0604H17.9633V14.9998H18.677V13.9291H19.433C19.6848 13.9291 19.832 13.9502 19.937 14.0551C20.063 14.202 20.063 14.454 20.063 14.6431V14.9998H20.7557V14.4329C20.7557 14.16 20.7349 14.0339 20.6509 13.887C20.5878 13.8029 20.4621 13.698 20.2941 13.635C20.4828 13.5723 20.798 13.3202 20.798 12.8581C20.7979 12.5223 20.6719 12.3333 20.4408 12.2076ZM14.2046 12.0604H16.4514C16.9974 12.0604 17.6274 12.2284 17.6275 13.0263C17.6275 13.8452 17.0184 14.0132 16.4095 14.0132H15.5276V14.9998H14.1628L13.3019 14.0339L12.3989 14.9998H9.60619V12.0604H12.4408L13.3017 13.0263L14.2046 12.0604ZM19.8738 13.2784C19.7689 13.3202 19.6639 13.3202 19.5379 13.3202L18.677 13.3414V12.6692H19.5379C19.6639 12.6692 19.79 12.6692 19.8738 12.7322C19.958 12.7744 20.0207 12.8583 20.0207 12.9843C20.0207 13.1103 19.958 13.2153 19.8738 13.2784ZM15.5275 13.4252H16.4514C16.7033 13.4252 16.8713 13.2784 16.8713 13.0263C16.8713 12.7744 16.7034 12.6692 16.4514 12.6692H15.5275V13.4252ZM13.7427 13.5301L14.8345 12.3754V14.7481L13.7427 13.5301ZM10.2991 14.3912H12.0419L12.8397 13.5303L12.0629 12.6694H10.2991V13.2155H11.8528V13.8032H10.2991V14.3912ZM18.1943 7H18.908V9.93963H18.1943V7ZM17.4172 7.12603C17.1861 7 16.9343 7 16.5774 7H14.9605V9.93963H15.6533V8.86868H16.4092C16.6613 8.86868 16.8293 8.88969 16.9342 8.99471C17.045 9.12403 17.042 9.3346 17.0397 9.49769V9.49777C17.0394 9.52007 17.0391 9.54149 17.0391 9.56169V9.93963H17.7528V9.35164C17.7528 9.09974 17.7319 8.97371 17.627 8.82667C17.564 8.74265 17.438 8.63763 17.2911 8.57476C17.4799 8.49074 17.7951 8.25984 17.7951 7.79788C17.7952 7.46196 17.6481 7.27291 17.4172 7.12603ZM12.8187 9.33079H14.4565V9.93978H12.1049V7.00015H14.4565V7.60899H12.8187V8.13396H14.4355V8.7428H12.8187V9.33079ZM22.4775 7.50397L22.9606 8.65878H21.9947L22.4775 7.50397ZM16.8713 8.19698C16.7665 8.25999 16.6614 8.25999 16.5144 8.25999H15.6533V7.60914H16.5142C16.6403 7.60914 16.787 7.60914 16.8712 7.65115C16.955 7.71417 16.9972 7.79819 16.9972 7.92407C16.9972 8.04994 16.9552 8.15482 16.8713 8.19698ZM5.76366 7.50397L5.28069 8.65878H6.24662L5.76366 7.50397Z" fill="#0077A6"/>
                  </svg>
                </li>
                <li>
                  <svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 4C0.5 2.067 2.067 0.5 4 0.5H30C31.933 0.5 33.5 2.067 33.5 4V18C33.5 19.933 31.933 21.5 30 21.5H4C2.067 21.5 0.5 19.933 0.5 18V4Z" fill="white" stroke="#EEEEEE"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0897 10.8527C15.0897 9.01576 15.9384 7.38029 17.2598 6.3219C16.2854 5.54145 15.0545 5.07422 13.7149 5.07422C10.5587 5.07422 8 7.66135 8 10.8527C8 14.044 10.5587 16.6311 13.7149 16.6311C15.0545 16.6311 16.2854 16.1639 17.2598 15.3834C15.9384 14.3251 15.0897 12.6896 15.0897 10.8527Z" fill="#EB001B"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0896 10.8525C15.0896 12.6895 15.9383 14.3249 17.2597 15.3833C18.5811 14.3249 19.4297 12.6895 19.4297 10.8525C19.4297 9.01563 18.5811 7.38017 17.2597 6.32178C15.9383 7.38017 15.0896 9.01563 15.0896 10.8525Z" fill="#FF5E00"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8046 5.07422C19.465 5.07422 18.2341 5.54145 17.2598 6.3219C18.5811 7.38037 19.4298 9.01576 19.4298 10.8527C19.4298 12.6896 18.5811 14.3251 17.2598 15.3834C18.2341 16.1639 19.465 16.6311 20.8046 16.6311C23.9608 16.6311 26.5195 14.044 26.5195 10.8527C26.5195 7.66135 23.9608 5.07422 20.8046 5.07422Z" fill="#F79E1C"/>
                  </svg>
                </li> 
                <li>
                  <svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 4C0.5 2.067 2.067 0.5 4 0.5H30C31.933 0.5 33.5 2.067 33.5 4V18C33.5 19.933 31.933 21.5 30 21.5H4C2.067 21.5 0.5 19.933 0.5 18V4Z" fill="white" stroke="#EEEEEE"/>
                    <path d="M21.099 5.05579C20.4616 4.31682 19.3092 4 17.835 4H13.5563C13.255 4.00001 12.9984 4.22284 12.9512 4.5255L11.1697 16.0167C11.1343 16.2433 11.3068 16.4485 11.5326 16.4485H14.1741L14.8375 12.1691L14.8169 12.3031C14.8641 12.0007 15.1185 11.7775 15.4197 11.7775H16.6749C19.1408 11.7775 21.0716 10.7589 21.6357 7.81228C21.6524 7.72513 21.6669 7.64031 21.6794 7.55744C21.6083 7.5191 21.6083 7.5191 21.6794 7.55744C21.8474 6.46833 21.6783 5.72698 21.099 5.05579Z" fill="#27346A"/>
                    <path d="M15.8482 7.1651C15.9204 7.13013 15.9994 7.11201 16.0794 7.11206H19.4337C19.8309 7.11206 20.2014 7.13835 20.54 7.19377C20.6347 7.20913 20.729 7.22747 20.8226 7.24876C20.9553 7.27854 21.0864 7.31499 21.2156 7.35797C21.382 7.4145 21.537 7.48034 21.6795 7.55744C21.8474 6.46791 21.6783 5.72698 21.099 5.05579C20.4612 4.31682 19.3092 4 17.835 4H13.556C13.2547 4 12.9984 4.22306 12.9512 4.5255L11.1697 16.0163C11.1343 16.2432 11.3068 16.4481 11.5322 16.4481H14.1741L15.5504 7.57177C15.5779 7.39466 15.6892 7.24261 15.8482 7.1651Z" fill="#27346A"/>
                    <path d="M21.6356 7.81197C21.0716 10.7582 19.1408 11.7772 16.6749 11.7772H15.4193C15.1181 11.7772 14.8637 12.0003 14.8169 12.3028L13.9916 17.6237C13.9607 17.822 14.1115 18.0017 14.3088 18.0017H16.5355C16.799 18.0016 17.0233 17.8067 17.0645 17.542L17.0862 17.4266L17.5059 14.7216L17.5329 14.5721C17.5741 14.3074 17.7984 14.1124 18.0619 14.1124H18.3951C20.5521 14.1124 22.2411 13.2211 22.7347 10.6436C22.9407 9.56645 22.8341 8.66713 22.2891 8.03545C22.1238 7.84412 21.9185 7.68611 21.6794 7.55713C21.6664 7.64042 21.6524 7.72482 21.6356 7.81197Z" fill="#2790C3"/>
                    <path d="M21.0891 7.3179C21.0011 7.29178 20.9124 7.26866 20.8229 7.24857C20.7292 7.22762 20.635 7.20941 20.5403 7.19394C20.2014 7.13815 19.8312 7.11182 19.4336 7.11182H16.0796C15.9996 7.11163 15.9205 7.12991 15.8485 7.16528C15.6893 7.24256 15.5778 7.39472 15.5506 7.57195L14.8377 12.1689L14.8171 12.3029C14.864 12.0005 15.1184 11.7773 15.4197 11.7773H16.6753C19.1411 11.7773 21.0719 10.7587 21.6359 7.81208C21.6527 7.72493 21.6668 7.64048 21.6798 7.55724C21.5369 7.48056 21.3823 7.4143 21.2158 7.35814C21.1738 7.34398 21.1316 7.33056 21.0891 7.3179" fill="#1F264F"/>
                  </svg>
                </li>
                <li>
                  <svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 4C0.5 2.067 2.067 0.5 4 0.5H30C31.933 0.5 33.5 2.067 33.5 4V18C33.5 19.933 31.933 21.5 30 21.5H4C2.067 21.5 0.5 19.933 0.5 18V4Z" fill="white" stroke="#EEEEEE"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.361 7.33436L21.0832 8.98113C20.2502 8.51036 18.3544 8.39897 18.3542 9.26605C18.3542 9.61051 18.7831 9.84741 19.3001 10.1329C20.0842 10.566 21.0708 11.1108 21.0708 12.3124C21.0708 14.2324 19.0668 14.9378 17.7384 14.9378C16.4104 14.9378 15.5412 14.5048 15.5412 14.5048L15.8306 12.783C16.6276 13.4392 19.0426 13.6256 19.0426 12.585C19.0426 12.1478 18.5672 11.8899 18.0159 11.5908C17.2553 11.1783 16.3502 10.6873 16.3502 9.53867C16.3502 7.43303 18.6442 7 19.6102 7C20.5038 7 21.361 7.33436 21.361 7.33436ZM27.856 14.8055H26.0686L25.8406 13.6665H23.366L22.9602 14.8055H20.931L23.8342 7.70831C23.8342 7.70831 24.0102 7.13682 24.7328 7.13682H26.2976L27.856 14.8055ZM10.7576 7.13703L8.9018 12.4115L8.6822 11.2757L8.6824 11.2761L8.0274 7.82749C8.0274 7.82749 7.9482 7.13703 7.104 7.13703H4.036L4 7.26687C4 7.26687 4.9382 7.46708 6.0362 8.14338L7.7274 14.8057H9.7556L12.8526 7.13703H10.7576ZM14.3418 14.8055H12.3952L13.6118 7.13703H15.5586L14.3418 14.8055ZM23.9266 12.0929L24.9494 9.22318L25.5248 12.0929H23.9266Z" fill="#2566AF"/>
                    <path d="M8.6824 11.2758L8.0274 7.82718C8.0274 7.82718 7.9482 7.13672 7.104 7.13672H4.036L4 7.26656C4 7.26656 5.4746 7.58 6.889 8.75436C8.2414 9.87682 8.6824 11.2758 8.6824 11.2758Z" fill="#E6A540"/>
                  </svg>
                </li>
              </ul>
            </div>
            <div class="main-footer-nav">
              <div><span>Support</span></div>
              <div><span>Privacy & Cookies</span></div>
              <div><span>Accessibility</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "tag": "footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "To configure social media, go to your social media settings.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [markets settings.](/admin/settings/markets)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "Show country flag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "Show country name",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "label": "Show Follow on Shop",
          "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        },
        {
          "type": "checkbox",
          "id": "show_menu_title",
          "label": "Show menu title",
          "default": true
        },
        {
          "type": "inline_richtext",
          "id": "menu_title",
          "label": "Menu title",
          "info": "Replaces the default menu title"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "600 x 600px .png recommended"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 150
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Title size",
          "options": [
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Sign up to our newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}