{%- comment -%}
IMPLEMENTATION NOTE: Impact header with all the menu is an extremely complex piece of code. Due to requirements from design
team, we had to cover over hundred of potential combinations. As a consequence, this part (and all the menu snippets) are
extremely sensitive code that should (if possible) not be touched unless you have spend enough time to study and understand
the underlying logic of the menu.
{%- endcomment -%}

{%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
  {%- assign will_show_country_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
  {%- assign will_show_locale_selector = true -%}
{%- endif -%}

<style>
  :root {
    --sticky-header-enabled: {%- if section.settings.enable_sticky -%}1{% else %}0{% endif %};
  }

  #shopify-section-{{ section.id }} {
    --header-grid-template: "main-nav logo secondary-nav" / minmax(0, 1fr) auto minmax(0, 1fr);
    --header-padding-block: {% if section.settings.reduce_padding %}var(--spacing-3){% else %}var(--spacing-4-5){% endif %};
    --header-background-opacity: {{ section.settings.background_opacity | divided_by: 100.0 }};
    --header-background-blur-radius: {{ section.settings.background_blur_radius }}px;
    --header-transparent-text-color: {{ section.settings.transparent_header_text_color.rgb }};

    {%- if section.settings.logo != blank -%}
      --header-logo-width: {{ section.settings.logo_mobile_max_width }}px;
      --header-logo-height: {{ section.settings.logo_mobile_max_width | divided_by: section.settings.logo.aspect_ratio | round }}px;
    {%- endif -%}

    position: {% if section.settings.enable_sticky %}sticky{% else %}relative{% endif %};
    top: 0;
    z-index: 10;
  }

  {%- if section.settings.enable_sticky -%}
    .shopify-section--announcement-bar ~ #shopify-section-{{ section.id }} {
      top: calc(var(--sticky-announcement-bar-enabled, 0) * var(--announcement-bar-height, 0px));
    }
  {%- endif -%}

  {%- if section.settings.opening_from == 'left' -%}
    @media screen and (max-width: 699px) {
      .navigation-drawer {
        --drawer-content-max-height: calc(100vh - (var(--spacing-2) * 2));
      }
    }
  {%- endif -%}

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} {
      {%- if section.settings.logo != blank -%}
        --header-logo-width: {{ section.settings.logo_max_width }}px;
        --header-logo-height: {{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio | round }}px;
      {%- endif -%}

      --header-padding-block: {% if section.settings.reduce_padding %}var(--spacing-6){% else %}var(--spacing-8-5){% endif %};
    }
  }

  {%- if section.settings.layout contains 'logo_left' -%}
    @media screen and (min-width: 1150px) {
      {%- if section.settings.secondary_menu != blank or will_show_country_selector or will_show_locale_selector -%}
        {%- assign max_percent = '55%' -%}
      {%- else -%}
        {%- assign max_percent = '70%' -%}
      {%- endif -%}

      #shopify-section-{{ section.id }} {
        --header-grid-template: "logo main-nav secondary-nav" / {% if section.settings.layout == 'logo_left_navigation_inline' %}auto minmax(0, 1fr) minmax(0, max-content){% else %}minmax(0, 1fr) fit-content({{ max_percent }}) minmax(0, 1fr){% endif %};
      }
    }
  {%- endif -%}
</style>
<height-observer variable="header">
<div class="top_bar">
    <div class="header__wrapper">
      <div class="annoucet_bar">PPE, Safety Supplies and FR Workwear</div>
      <div class="right_side_top_bar">
        {% render 'social-media' %}

        <ul class="menu_top">
          <li>Contact</li>
          <li>FAQs</li>
          <li class="last-header-icon">Help Center</li>
        </ul>
      </div>
    </div>
</div>
  
  <store-header class="header" {% if section.settings.hide_on_scroll %}hide-on-scroll="100"{% endif %} {% if section.settings.enable_sticky %}sticky{% endif %}>
    
    <div class="header__wrapper">
      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      MAIN NAV AREA
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}


      {%- capture logo_content -%}
        {%- if section.settings.logo -%}
          {%- capture sizes -%}{{ section.settings.logo_max_width }}px{%- endcapture -%}
          {%- capture widths -%}{{ section.settings.logo_max_width | times: 2 | at_most: section.settings.logo.width }}, {{ section.settings.logo_max_width | times: 3 | at_most: section.settings.logo.width }}{%- endcapture -%}
          <span class="sr-only">{{ shop.name }}</span>
          {{- section.settings.logo | image_url: width: section.settings.logo.width | image_tag: sizes: sizes, widths: widths, class: 'header__logo-image' -}}

          {%- if section.settings.transparent_logo -%}
            {{- section.settings.transparent_logo | image_url: width: section.settings.transparent_logo.width | image_tag: sizes: sizes, widths: widths, class: 'header__logo-image header__logo-image--transparent' -}}
          {%- endif -%}
        {%- else -%}
          <span class="header__logo-text h4">{{ shop.name }}</span>
        {%- endif -%}
      {%- endcapture -%}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__logo">
          <a href="{{ routes.root_url }}">{{ logo_content }}</a>
        </h1>
      {% else %}
        <a href="{{ routes.root_url }}" class="header__logo">{{ logo_content }}</a>
      {% endif %}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      LOGO AREA
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      


      <div class="main-location-section-header">
        <div>
          <svg class="svg-header-location" width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.99935 9.99992C8.50352 9.99992 8.93527 9.82025 9.2946 9.46092C9.65332 9.1022 9.83268 8.67075 9.83268 8.16658C9.83268 7.66242 9.65332 7.23067 9.2946 6.87134C8.93527 6.51261 8.50352 6.33325 7.99935 6.33325C7.49518 6.33325 7.06374 6.51261 6.70502 6.87134C6.34568 7.23067 6.16602 7.66242 6.16602 8.16658C6.16602 8.67075 6.34568 9.1022 6.70502 9.46092C7.06374 9.82025 7.49518 9.99992 7.99935 9.99992ZM7.99935 19.1666C5.53963 17.0735 3.70263 15.1293 2.48835 13.3338C1.27346 11.539 0.666016 9.8777 0.666016 8.34992C0.666016 6.05825 1.40332 4.23256 2.87793 2.87284C4.35193 1.51311 6.05907 0.833252 7.99935 0.833252C9.93963 0.833252 11.6468 1.51311 13.1208 2.87284C14.5954 4.23256 15.3327 6.05825 15.3327 8.34992C15.3327 9.8777 14.7255 11.539 13.5113 13.3338C12.2964 15.1293 10.4591 17.0735 7.99935 19.1666Z" fill="white"/>
          </svg>
        </div>
        <div>
          <div class="main-delivery-location-header">
            <span>Delivery Location</span>
          </div>
          <div class="header-pin-change-content">
            <span>220093</span>
            <a href="">CHANGE</a>
          </div>
        </div>
      </div>


    <div class="search-container">
      <input type="text" placeholder="Search our entire store by category, product..." class="search-input">
      <button class="search-button">
        <img src="https://img.icons8.com/ios-filled/50/FFFFFF/search--v1.png" alt="Search">
      </button>
    </div>

      <div class="main-header-navigation">
        <a href="">Order</a>
        <a href="">Credits</a>
      </div>

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      SECONDARY NAV AREA
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="header__secondary-nav">
        {%- if section.settings.header != 'drawer' and section.settings.secondary_menu.links.size > 0 -%}
          <nav class="header__link-list" role="navigation">
            <ul class="contents">
              {%- for link in section.settings.secondary_menu.links -%}
                <li>
                  <a href="{{ link.url }}" class="bold link-faded-reverse">{{ link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        {%- endif -%}

        <ul class="header__icon-list">
          {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
            <li class="hidden md:block shrink-0">
              {%- render 'localization-selector', type: 'country', show_country_name: section.settings.show_country_name, show_country_flag: section.settings.show_country_flag, popover_vertical_position: 'end' -%}
            </li>
          {%- endif -%}

          {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
            <li class="hidden md:block shrink-0">
              {%- render 'localization-selector', type: 'locale', popover_vertical_position: 'end' -%}
            </li>
          {%- endif -%}

          <li>
            <a href="{{ routes.search_url }}" class="hidden tap-area sm:block /" aria-controls="search-drawer">
              <span class="sr-only">{{ 'header.general.search' | t }}</span>
                <svg  width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 18.5L8.55 17.2C6.86667 15.6834 5.475 14.375 4.375 13.275C3.275 12.175 2.4 11.1875 1.75 10.3125C1.1 9.43752 0.645833 8.63336 0.3875 7.90002C0.129167 7.16669 0 6.41669 0 5.65002C0 4.08336 0.525 2.77502 1.575 1.72502C2.625 0.675024 3.93333 0.150024 5.5 0.150024C6.36667 0.150024 7.19167 0.333358 7.975 0.700024C8.75833 1.06669 9.43333 1.58336 10 2.25002C10.5667 1.58336 11.2417 1.06669 12.025 0.700024C12.8083 0.333358 13.6333 0.150024 14.5 0.150024C16.0667 0.150024 17.375 0.675024 18.425 1.72502C19.475 2.77502 20 4.08336 20 5.65002C20 6.41669 19.8708 7.16669 19.6125 7.90002C19.3542 8.63336 18.9 9.43752 18.25 10.3125C17.6 11.1875 16.725 12.175 15.625 13.275C14.525 14.375 13.1333 15.6834 11.45 17.2L10 18.5ZM10 15.8C11.6 14.3667 12.9167 13.1375 13.95 12.1125C14.9833 11.0875 15.8 10.1959 16.4 9.43752C17 8.67919 17.4167 8.00419 17.65 7.41252C17.8833 6.82086 18 6.23336 18 5.65002C18 4.65002 17.6667 3.81669 17 3.15002C16.3333 2.48336 15.5 2.15002 14.5 2.15002C13.7167 2.15002 12.9917 2.37086 12.325 2.81252C11.6583 3.25419 11.2 3.81669 10.95 4.50002H9.05C8.8 3.81669 8.34167 3.25419 7.675 2.81252C7.00833 2.37086 6.28333 2.15002 5.5 2.15002C4.5 2.15002 3.66667 2.48336 3 3.15002C2.33333 3.81669 2 4.65002 2 5.65002C2 6.23336 2.11667 6.82086 2.35 7.41252C2.58333 8.00419 3 8.67919 3.6 9.43752C4.2 10.1959 5.01667 11.0875 6.05 12.1125C7.08333 13.1375 8.4 14.3667 10 15.8Z" fill="white"/>
                </svg>
              <div class="main-header-wishlist">
                WishList
              </div>
            </a>
          </li>
          
          {%- if shop.customer_accounts_enabled -%}
            <li>
              <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="hidden tap-area sm:block">
                <span class="sr-only">{% if customer %}{{ 'header.general.account' | t }}{% else %}{{ 'header.general.login' | t }}{% endif %}</span>
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 20.5C5.45 20.5 4.97933 20.3043 4.588 19.913C4.196 19.521 4 19.05 4 18.5C4 17.95 4.196 17.479 4.588 17.087C4.97933 16.6957 5.45 16.5 6 16.5C6.55 16.5 7.02067 16.6957 7.412 17.087C7.804 17.479 8 17.95 8 18.5C8 19.05 7.804 19.521 7.412 19.913C7.02067 20.3043 6.55 20.5 6 20.5ZM16 20.5C15.45 20.5 14.9793 20.3043 14.588 19.913C14.196 19.521 14 19.05 14 18.5C14 17.95 14.196 17.479 14.588 17.087C14.9793 16.6957 15.45 16.5 16 16.5C16.55 16.5 17.021 16.6957 17.413 17.087C17.8043 17.479 18 17.95 18 18.5C18 19.05 17.8043 19.521 17.413 19.913C17.021 20.3043 16.55 20.5 16 20.5ZM5.15 4.5L7.55 9.5H14.55L17.3 4.5H5.15ZM4.2 2.5H18.95C19.3333 2.5 19.625 2.67067 19.825 3.012C20.025 3.354 20.0333 3.7 19.85 4.05L16.3 10.45C16.1167 10.7833 15.8707 11.0417 15.562 11.225C15.254 11.4083 14.9167 11.5 14.55 11.5H7.1L6 13.5H18V15.5H6C5.25 15.5 4.68333 15.1707 4.3 14.512C3.91667 13.854 3.9 13.2 4.25 12.55L5.6 10.1L2 2.5H0V0.5H3.25L4.2 2.5Z" fill="white"/>
                  </svg>
                <div class="main-header-wishlist">
                  Cart
                </div>
              </a>
            </li>
          {%- endif -%}

          <li>
            <a href="{{ routes.cart_url }}" data-no-instant class="relative tap-area" {% if settings.cart_type != 'page' and request.page_type != 'cart' %}aria-controls="cart-drawer"{% endif %}>
              <span class="sr-only">{{ 'header.general.cart' | t }}</span>
              <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.85 15.6C4.7 14.95 5.65 14.4375 6.7 14.0625C7.75 13.6875 8.85 13.5 10 13.5C11.15 13.5 12.25 13.6875 13.3 14.0625C14.35 14.4375 15.3 14.95 16.15 15.6C16.7333 14.9167 17.1875 14.1417 17.5125 13.275C17.8375 12.4083 18 11.4833 18 10.5C18 8.28333 17.2208 6.39583 15.6625 4.8375C14.1042 3.27917 12.2167 2.5 10 2.5C7.78333 2.5 5.89583 3.27917 4.3375 4.8375C2.77917 6.39583 2 8.28333 2 10.5C2 11.4833 2.1625 12.4083 2.4875 13.275C2.8125 14.1417 3.26667 14.9167 3.85 15.6ZM10 11.5C9.01667 11.5 8.1875 11.1625 7.5125 10.4875C6.8375 9.8125 6.5 8.98333 6.5 8C6.5 7.01667 6.8375 6.1875 7.5125 5.5125C8.1875 4.8375 9.01667 4.5 10 4.5C10.9833 4.5 11.8125 4.8375 12.4875 5.5125C13.1625 6.1875 13.5 7.01667 13.5 8C13.5 8.98333 13.1625 9.8125 12.4875 10.4875C11.8125 11.1625 10.9833 11.5 10 11.5ZM10 20.5C8.61667 20.5 7.31667 20.2375 6.1 19.7125C4.88333 19.1875 3.825 18.475 2.925 17.575C2.025 16.675 1.3125 15.6167 0.7875 14.4C0.2625 13.1833 0 11.8833 0 10.5C0 9.11667 0.2625 7.81667 0.7875 6.6C1.3125 5.38333 2.025 4.325 2.925 3.425C3.825 2.525 4.88333 1.8125 6.1 1.2875C7.31667 0.7625 8.61667 0.5 10 0.5C11.3833 0.5 12.6833 0.7625 13.9 1.2875C15.1167 1.8125 16.175 2.525 17.075 3.425C17.975 4.325 18.6875 5.38333 19.2125 6.6C19.7375 7.81667 20 9.11667 20 10.5C20 11.8833 19.7375 13.1833 19.2125 14.4C18.6875 15.6167 17.975 16.675 17.075 17.575C16.175 18.475 15.1167 19.1875 13.9 19.7125C12.6833 20.2375 11.3833 20.5 10 20.5Z" fill="white"/>
                    </svg>
                    <div class="main-header-wishlist">
                      Mandar K.
                    </div>

              <div class="header__cart-count">
                <cart-count class="count-bubble {% if cart.item_count == 0 %}opacity-0{% endif %}">
                  <span class="sr-only">{{ 'cart.general.item_count' | t: count: cart.item_count }}</span>
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                </cart-count>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </store-header>
     <div class="section   section-blends section-full">
      <div class="header__main-nav">
        <div class="header__icon-list">
          <button type="button" class="tap-area {% if section.settings.layout != 'drawer' %}lg:hidden{% endif %}" aria-controls="header-sidebar-menu">
            <span class="sr-only">{{ 'header.general.menu' | t }}</span>
            {%- render 'icon' with 'hamburger' -%}
          </button>

          <div class="main-header-nav">
            <div>
              <span>All Categories</span>
            </div>
            <div class="header-nav-category">
              <a href="">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_867_22687" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="18" height="18">
                <rect y="18" width="18" height="18" transform="rotate(-90 0 18)" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_867_22687)">
                <path d="M16.5 6L9 13.5L1.5 6L2.83125 4.66875L9 10.8375L15.1687 4.66875L16.5 6Z" fill="#394144"/>
                </g>
                </svg>
               </a>
            </div>
          </div>
          <div class="suv-main-header-nav">
            <ul>
              <li><a href="">Safety Shoes</a></li>
              <li><a href="">Safety Helmets</a></li>
              <li><a href="">Work Wear</a></li>
              <li><a href="">Fall Protection</a></li>
              <li><a href="">Safety Gloves</a></li> 
            </ul>
          </div>
          <div class="sub-header-adv-nav">
            <div class="main-store-header">
              <span>Stores</span>
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.7695 6.2875V12.25C14.7695 12.6625 14.6227 13.0157 14.3292 13.3097C14.0352 13.6033 13.682 13.75 13.2695 13.75H2.76949C2.35699 13.75 2.00399 13.6033 1.71049 13.3097C1.41649 13.0157 1.26949 12.6625 1.26949 12.25V6.2875C0.981989 6.025 0.760239 5.6875 0.604239 5.275C0.447739 4.8625 0.444489 4.4125 0.594489 3.925L1.38199 1.375C1.48199 1.05 1.66024 0.78125 1.91674 0.56875C2.17274 0.35625 2.46949 0.25 2.80699 0.25H13.232C13.5695 0.25 13.8632 0.353 14.1132 0.559C14.3632 0.7655 14.5445 1.0375 14.657 1.375L15.4445 3.925C15.5945 4.4125 15.5915 4.85625 15.4355 5.25625C15.279 5.65625 15.057 6 14.7695 6.2875ZM9.66949 5.5C10.007 5.5 10.2632 5.38425 10.4382 5.15275C10.6132 4.92175 10.682 4.6625 10.6445 4.375L10.232 1.75H8.76949V4.525C8.76949 4.7875 8.85699 5.01575 9.03199 5.20975C9.20699 5.40325 9.41949 5.5 9.66949 5.5ZM6.29449 5.5C6.58199 5.5 6.81649 5.40325 6.99799 5.20975C7.17899 5.01575 7.26949 4.7875 7.26949 4.525V1.75H5.80699L5.39449 4.375C5.34449 4.675 5.41024 4.9375 5.59174 5.1625C5.77274 5.3875 6.00699 5.5 6.29449 5.5ZM2.95699 5.5C3.18199 5.5 3.37874 5.41875 3.54724 5.25625C3.71624 5.09375 3.81949 4.8875 3.85699 4.6375L4.26949 1.75H2.80699L2.05699 4.2625C1.98199 4.5125 2.02249 4.78125 2.17849 5.06875C2.33499 5.35625 2.59449 5.5 2.95699 5.5ZM13.082 5.5C13.4445 5.5 13.707 5.35625 13.8695 5.06875C14.032 4.78125 14.0695 4.5125 13.982 4.2625L13.1945 1.75H11.7695L12.182 4.6375C12.2195 4.8875 12.3227 5.09375 12.4917 5.25625C12.6602 5.41875 12.857 5.5 13.082 5.5ZM2.76949 12.25H13.2695V6.9625C13.207 6.9875 13.1665 7 13.148 7H13.082C12.7445 7 12.4475 6.94375 12.191 6.83125C11.935 6.71875 11.682 6.5375 11.432 6.2875C11.207 6.5125 10.9507 6.6875 10.6632 6.8125C10.3757 6.9375 10.0695 7 9.74449 7C9.40699 7 9.09124 6.9375 8.79724 6.8125C8.50374 6.6875 8.24449 6.5125 8.01949 6.2875C7.80699 6.5125 7.56024 6.6875 7.27924 6.8125C6.99774 6.9375 6.69449 7 6.36949 7C6.00699 7 5.67874 6.9375 5.38474 6.8125C5.09124 6.6875 4.83199 6.5125 4.60699 6.2875C4.34449 6.55 4.08524 6.73425 3.82924 6.84025C3.57274 6.94675 3.28199 7 2.95699 7H2.87299C2.84149 7 2.80699 6.9875 2.76949 6.9625V12.25Z" fill="#394144"/>
                </svg>
            </div>
            <div class="main-download-app-header">
              <span>Download App</span>
                <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.25 17.25C1.8375 17.25 1.4845 17.1033 1.191 16.8098C0.897 16.5158 0.75 16.1625 0.75 15.75V2.25C0.75 1.8375 0.897 1.48425 1.191 1.19025C1.4845 0.89675 1.8375 0.75 2.25 0.75H9.75C10.1625 0.75 10.5158 0.89675 10.8098 1.19025C11.1033 1.48425 11.25 1.8375 11.25 2.25V15.75C11.25 16.1625 11.1033 16.5158 10.8098 16.8098C10.5158 17.1033 10.1625 17.25 9.75 17.25H2.25ZM2.25 13.5V15.75H9.75V13.5H2.25ZM6 15.375C6.2125 15.375 6.39075 15.303 6.53475 15.159C6.67825 15.0155 6.75 14.8375 6.75 14.625C6.75 14.4125 6.67825 14.2345 6.53475 14.091C6.39075 13.947 6.2125 13.875 6 13.875C5.7875 13.875 5.6095 13.947 5.466 14.091C5.322 14.2345 5.25 14.4125 5.25 14.625C5.25 14.8375 5.322 15.0155 5.466 15.159C5.6095 15.303 5.7875 15.375 6 15.375ZM2.25 12H9.75V4.5H2.25V12ZM2.25 3H9.75V2.25H2.25V3Z" fill="#394144"/>
                </svg>
            </div>
          </div>
          

          <a href="{{ routes.search_url }}" class="tap-area sm:hidden" aria-controls="search-drawer">
            <span class="sr-only">{{ 'header.general.search' | t }}</span>
            {%- render 'icon' with 'search' -%}
          </a>

          {%- if section.settings.layout != 'drawer' and section.settings.menu.links.size > 0 -%}
            <nav class="header__link-list {% if section.settings.layout == 'logo_left_navigation_center' %}justify-center{% endif %} wrap" role="navigation">
              <ul class="contents" role="list">
                {%- for link in section.settings.menu.links -%}
                  {% liquid
                    assign link_title_downcase = link.title | strip | downcase
                    assign mega_menu_block = ''

                    for block in section.blocks
                      assign menu_item_downcase = block.settings.menu_item | strip | downcase

                      if menu_item_downcase == link_title_downcase
                        assign mega_menu_block = block
                        break
                      endif

                    endfor
                  %}

                  <li>
                    {%- if link.levels == 0 and mega_menu_block == '' -%}
                      <a href="{{ link.url }}" class="bold link-faded-reverse" {% if link.current %}aria-current="page"{% endif %}>{{- link.title -}}</a>
                    {%- else -%}
                      {%- if mega_menu_block != '' -%}
                        {%- comment -%}
                        Implementation note: the designers had the desire to show a lot of different kind of menus in Impact: one standard
                        mega menu but also a kind of "sidebar" mode when the mega-menu appears in a drawer. Unfortunately, this comes with
                        a lot of extra complexity as we have to go through two different code path: a "details" element for the standard
                        menu, and a full drawer for the other one.
                        {%- endcomment -%}
                        {%- unless mega_menu_block.settings.layout == 'drawer' -%}
                          <details is="mega-menu-disclosure" trigger="{{ section.settings.menu_open_trigger | escape }}" {{ mega_menu_block.shopify_attributes }}>
                            <summary class="text-with-icon gap-2.5 bold link-faded-reverse" {% if link.url != '#' %}data-url="{{ link.url | escape }}"{% endif %}>
                              {{- link.title -}} {%- render 'icon' with 'chevron-bottom' -%}
                            </summary>

                           {%- render 'mega-menu-horizontal', link: link, mega_menu_block: mega_menu_block -%}
                          </details>
                        {%- else -%}
                          <button aria-controls="navigation-drawer-{{ forloop.index }}" aria-expanded="false" class="text-with-icon gap-2.5 bold link-faded-reverse">
                            {{- link.title -}} {%- render 'icon' with 'chevron-bottom' -%}
                          </button>

                          <navigation-drawer class="navigation-drawer drawer lg-max:hidden" id="navigation-drawer-{{ forloop.index }}" open-from="left" mega-menu>
                            {%- render 'navigation-panel', navigation_layout: section.settings.layout, main_menu: link, is_mega_menu: true, mega_menu_block: mega_menu_block -%}
                          </navigation-drawer>
                        {%- endunless -%}
                      {%- else -%}
                        <details class="relative" is="dropdown-disclosure" trigger="{{ section.settings.menu_open_trigger | escape }}">
                          <summary class="text-with-icon gap-2.5 bold link-faded-reverse" {% if link.url != '#' %}data-url="{{ link.url | escape }}"{% endif %}>
                            {{- link.title -}} {%- render 'icon' with 'chevron-bottom' -%}
                          </summary>

                          <div class="dropdown-menu {% if link.levels <= 1 %}dropdown-menu--restrictable{% endif %}">
                            <ul class="contents" role="list">
                              {%- for sub_link in link.links -%}
                                <li>
                                  {%- if sub_link.levels == 0 -%}
                                    <a href="{{ sub_link.url }}" class="dropdown-menu__item group" {% if sub_link.current %}aria-current="page"{% endif %}>
                                      <span><span class="reversed-link">{{ sub_link.title }}</span></span>
                                    </a>
                                  {%- else -%}
                                    <details class="relative" is="dropdown-disclosure" trigger="{{ section.settings.menu_open_trigger | escape }}">
                                      <summary class="dropdown-menu__item group" {% if sub_link.url != '#' %}data-url="{{ sub_link.url | escape }}"{% endif %}>
                                        <span><span class="reversed-link">{{- sub_link.title -}}</span></span>
                                        {%- render 'icon' with 'chevron-right' -%}
                                      </summary>

                                      <div class="dropdown-menu">
                                        <ul class="contents" role="list">
                                          {%- for sub_sub_link in sub_link.links -%}
                                            <li>
                                              <a href="{{ sub_sub_link.url }}" class="dropdown-menu__item group" {% if sub_sub_link.current %}aria-current="page"{% endif %}>
                                                <span><span class="reversed-link">{{ sub_sub_link.title }}</span></span>
                                              </a>
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </details>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </details>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </nav>
          {%- endif -%}
        </div>
      </div>
    </div>
</height-observer>

{%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  NAVIGATION MENU DRAWER
  --------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign main_menu = section.settings.sidebar_menu | default: section.settings.menu -%}
{%- assign secondary_menu = section.settings.secondary_menu -%}

{%- if main_menu.links.size > 0 or secondary_menu.links.size > 0 -%}
  <navigation-drawer mobile-opening="{{ section.settings.opening_from }}" open-from="left" id="header-sidebar-menu" class="navigation-drawer drawer {% if section.settings.layout != 'drawer' %}lg:hidden{% endif %}" {% if request.design_mode %}handle-section-events{% endif %}>
    <button is="close-button" aria-label="{{ 'general.accessibility.close' | t | escape }}" {%- if section.settings.opening_from == 'bottom' -%}class="sm-max:hidden"{%- endif -%}>
      {%- render 'icon' with 'close', width: 19, height: 19 -%}
    </button>

    {%- render 'navigation-panel',
      is_mega_menu: false,
      main_menu: main_menu,
      secondary_menu: secondary_menu,
      mobile_opening: section.settings.opening_from,
      layout: section.settings.layout,
      show_social_media: section.settings.show_social_media,
      show_country_selector: section.settings.show_country_selector,
      show_country_name: section.settings.show_country_name,
      show_country_flag: section.settings.show_country_flag,
      show_locale_selector: section.settings.show_locale_selector -%}
  </navigation-drawer>
{%- endif -%}

<script>
  document.documentElement.style.setProperty('--header-height', Math.round(document.getElementById('shopify-section-{{ section.id }}').clientHeight) + 'px');
</script>

{% schema %}
{
  "name": "Header",
  "class": "shopify-section--header",
  "tag": "header",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_on_scroll",
      "label": "Hide on scroll",
      "default": false
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "280 x 80px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 40,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "logo_mobile_max_width",
      "min": 25,
      "max": 170,
      "step": 5,
      "unit": "px",
      "label": "Mobile image width",
      "default": 100
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "sidebar_menu",
      "label": "Drawer menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary menu",
      "info": "This menu won't show dropdown items. For best results, limit the number of links to 1 or 2."
    },
    {
      "type": "select",
      "id": "menu_open_trigger",
      "label": "Open dropdown items on...",
      "info": "Click mode is forced on touch devices.",
      "options": [
        {
          "value": "hover",
          "label": "Hover"
        },
        {
          "value": "click",
          "label": "Click"
        }
      ],
      "default": "click"
    },
    {
      "type": "header",
      "content": "Mobile navigation"
    },
    {
      "type": "select",
      "id": "opening_from",
      "label": "Opening from",
      "options": [
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "info": "When centering navigation, you should limit your links to 5.",
      "options": [
        {
          "value": "logo_left_navigation_inline",
          "label": "Logo left, navigation inline"
        },
        {
          "value": "logo_left_navigation_center",
          "label": "Logo left, navigation center"
        },
        {
          "value": "logo_center_navigation_inline",
          "label": "Logo center, navigation inline"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "logo_left_navigation_inline"
    },
    {
      "type": "header",
      "content": "Social media",
      "info": "This will only show in the drawer navigation."
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [markets settings.](/admin/settings/markets). For best user experience, we recommend to keep this setting off and to use the free [Shopify Geolocation app](https://apps.shopify.com/geolocation)."
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "Show country flag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "Show country name",
      "default": false
    },
    {
      "type": "header",
      "content": "Transparent header",
      "info": "Add a section on first position which allows transparent header such as slideshow or image with text overlay."
    },
    {
      "type": "color",
      "id": "transparent_header_text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "Logo image",
      "info": "Use the same dimensions as main logo."
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "checkbox",
      "id": "reduce_padding",
      "label": "Reduce padding",
      "default": false
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Background opacity",
      "default": 1
    },
    {
      "type": "range",
      "id": "background_blur_radius",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Background blur radius",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter menu item to apply a mega menu dropdown. [Learn more](https://support.maestrooo.com/article/180-navigation-enabling-and-configuring-mega-navigation)."
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "horizontal",
              "label": "Horizontal"
            },
            {
              "value": "horizontal_center",
              "label": "Horizontal (centered)"
            },
            {
              "value": "drawer",
              "label": "Drawer"
            }
          ],
          "default": "horizontal"
        },
        {
          "type": "select",
          "id": "submenu_style",
          "label": "Submenu",
          "options": [
            {
              "value": "bold_text",
              "label": "Bold - text only"
            },
            {
              "value": "bold_heading",
              "label": "Bold - headings only"
            }
          ],
          "default": "bold_heading"
        },
        {
          "type": "header",
          "content": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_heading_1",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "image_link_1",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "image_text_color_1",
          "label": "Heading",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_heading_2",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "image_link_2",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "image_text_color_2",
          "label": "Heading",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_heading_3",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "image_link_3",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "image_text_color_3",
          "label": "Heading",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Featured product"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "color",
          "id": "product_card_background",
          "label": "Card background"
        },
        {
          "type": "color",
          "id": "product_card_text_color",
          "label": "Card text"
        },
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "select",
          "id": "promo_content_layout",
          "label": "Promotional content layout",
          "info": "To improve readability, layout can be changed automatically depending on the screen size, menu column count and promotional content. [Learn more](https://support.maestrooo.com/article/296-navigation-understanding-impact-mega-menu-strategy)",
          "options": [
            {
              "value": "grid",
              "label": "Grid"
            },
            {
              "value": "collage",
              "label": "Collage"
            },
            {
              "value": "carousel",
              "label": "Carousel"
            }
          ],
          "default": "grid"
        },
        {
          "type": "checkbox",
          "id": "stretch_promo",
          "label": "Stretch to fill",
          "default": false
        },
        {
          "type": "select",
          "id": "drawer_link_image",
          "label": "Drawer link image",
          "options": [
            {
              "value": "hide",
              "label": "Hide"
            },
            {
              "value": "show",
              "label": "Show product image"
            }
          ],
          "default": "hide"
        }
      ]
    }
  ]
}
{% endschema %}